PORT=5001
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/nexdiff?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
EXECUTIVE_USERNAME=executive
EXECUTIVE_PASSWORD=change-this-executive-password
MANAGER_USERNAME=manager
MANAGER_PASSWORD=change-this-manager-password
ADMIN_TOKEN_SECRET=change-this-long-random-secret
